
$font-general: cabin, sans-serif;
$h1-color: white;



* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(23, 31, 118);
}

h1 {
    color: $h1-color;
    font-family: $font-general;
    margin-top: 40px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 3rem;
    font-style: italic;
}

.choice-result {
    text-align: center;
    color: $h1-color;
    font-size: 1.5rem;
    line-height: 3.5rem;

    .computer-choice {
    margin-top: 70px;
    }

    .result {
    margin-bottom: 20px;
    }
}

.report {
    color: $h1-color;
    font-size: 1.5rem;
    margin-top: 60px;
    text-align: center;
   
}

.button-game {
    text-align: center;
    margin-top: 10px;

    .rock-image {
        width: 50px;
        height: auto;
    }

    .paper-image {
        width: 50px;
        height: auto;
    }

    .scissors-image {
        width: 50px;
        height: auto;
    }

    .lizard-image {
        width: 50px;
        height: auto;
    }

    .spock-image {
        width: 50px;
        height: auto;
    }

    button {
    font-size: 1.3rem;
    margin-top: 30px;
    margin-left: 25px;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    background-color: #2E67F8;
    color: $h1-color;
}

button:hover {
    opacity: 0.8;
}
    
}